executor {
    name = 'slurm'
    queue = 'biohpc_gen_normal'
    queueSize = 5
    submitRateLimit = '1 sec'
}

process {
    resourceLimits = [
        memory: 384.GB,
        cpus  : 80,
        time  : 48.h
    ]
}

env {
    //MODULEPATH = '/lrz/sys/lmodules'
    SLURM_CLUSTERS='biohpc_gen'
    NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
