process {
    executor = "slurm"
    queue = "serial_std"
    queuesize = 96
    submitRateLimit = '1 sec'
    beforeScript = 'module load /dss/dsshome1/lxc03/ru83ced/modules/afq2bam_env'
    resourceLimits = [
        time  : 24.h
    ]
}
env {
    SLURM_CLUSTERS='serial'
    NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
