executor {
    name = 'local'
}


process{
        beforeScript = 'module load /dss/dsshome1/lxc03/ru83ced/modules/afq2bam_env'
        resourceLimits = [
            memory: 96.GB,
            cpus  : 112,
            time  : 24.h
        ]
}

env {
    NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
