executor {
    name = 'flux'
}

process{
        beforeScript = 'module load /dss/dssfs05/lwp-dss-0003/pn72xa/pn72xa-dss-0000/tools/module_files/eager_lite'
        resourceLimits = [
            memory: 96.GB,
            cpus  : 112,
            time  : 8.h
        ]
}

env {
    NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
