executor {
    name = 'slurm'
    queue = 'serial_std'
    queueSize = 8
    submitRateLimit = '1 sec'
}

env {
    //MODULEPATH = '/lrz/sys/lmodules'
    SLURM_CLUSTERS='serial'
    NXF_OPTS='-Xms256m -Xmx2g -XX:MaxRAMPercentage=25'
}

timeline {
    enabled = true
    file = "timeline.html"
}

trace {
    enabled = true
    file = "trace.txt"
}
