/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: ADAPTERREMOVAL{
            ext.args = " --qualitymax 45 "
        }

    withName: PYTHON3_CIRCULARIZE_MTDNA{
	    ext.args = " ${params.circle_nbp} "
    }

    withName: BWA_ALN {
        ext.args = ' -l 1024 -n 0.01 -o 2 '
    }
    withName: SEQKIT_SPLIT2{
        ext.args = ' -s ' + params.split_reads
    }
    withName: MERGELIB_SAMTOOLS{
        ext.args = ' -c -p '
    }
    withName: MERGESAMPLE_SAMTOOLS{
        ext.args = ' -c -p '
    }
    withName: RAWFLAGSTAT{
            ext.prefix = "raw"
    }
    withName: FILTEREDFLAGSTAT{
            ext.prefix = "filtered"
        }
    withName: DEDUPFLAGSTAT{
            ext.prefix = "dedup"
        }
    withName: SAMTOOLS_VIEW {
        ext.args = '--output-fmt bam -q '+ params.mapping_quality_threshold
    }
    withName: SAMTOOLS_DEPTH {
        ext.args = '-a '
    }
    withName: ANGSD_DOCOUNTS{
        ext.args = ' -doFasta 2 -setMinDepth 3 -minQ 20 -minMapQ 30 '
    }
    withName: DEDUP{
        ext.args = ' -m '
    }
    withName: PICARD_MARKDUPLICATES{
        ext.args = ' --VALIDATION_STRINGENCY LENIENT '
    }
}
